<h1> Coach Page </h1>
<div class='problem-panel'>
	<h2> Problem List</h2>
	<table>
	{{#each problems}}
	<tr>
	<td>{{problem_id}}</td>
	<td>{{title}}</td>
	<td>{{hardness}}</td>
	</tr>
	{{/each}}
	</table>
</div>
<div class='problem-add'>
<h2> Add Problems</h2>
<form action='/users/coach' method='POST'>
	<h3> Basic Info </h3>
	<p>Problem ID</p><input name='problem_id' type='text'>
	<p>Problem Title</p><input name='problem_title' type='text'>
	<p>Problem Description</p><input name='problem_description' type='text'>
	<p>Input Description</p><input name='input_description' type='text'>
	<p>Output Description</p><input name='output_description' type='text'>
	<p>Hardness (from 1-10)</p><input name='hardness' type='text'>
	<h3> Sample Test Cases </h3>
	<p>Input</p><input name='input_test' type='text'>
	<p>Output</p><input name='input_test' type='text'>
	<input type='submit' value='Submit'>
</form>
</div>