<!DOCTYPE html>
<html>
  <head>
    <title>Spartina</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class='big_title'>
 	<h1>Spartina</h1>
 	<p>Online Programming Problem Solving Platform</p>
 	</div>
  	<div class='navigate'>
  	<span><a href='/' >Index</a></span>
	<span><a href='/problems' >Problems</a></span>
  <span><a href='/submissions'>Submissions</a></span>
	<span><a href='/users/login' >Login</a></span>
	<span><a href='/users/register'>Register</a></span>
	<span><a href='/users'>My Profile</a></span>
	</div>
    {{{body}}}
  </body>
</html>
