<!DOCTYPE html>
<html>
  <head>
    <title>Spartina</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 	<h1>Spartina Coding Platform</h1>
  	<div class='links'>
  	<a href='/' >Index</a>
	<a href='/problems' >Problems</a>
	<a href='/users/login' >Login</a>
	<a href='/users/register'>Register</a>
	<a href='/users'>My Profile</a>
	</div>
    {{{body}}}
  </body>
</html>
