<h1> Register </h1>
<div class='login-form'>
<form action='' method='POST'>
<p>Username</p><input type='text' name='username' placeholder='Username'>
<p>Password</p><input type='password' name='password' placeholder='Password'>
<p>Nick Name</p><input type='text' name='nick' placeholder='Nickname'>
<!-- <p>Type of User</p><input type='radio' name='type' value='member'>Member
<input type='radio' name='type' value='coach'>Coach<br> -->
<br>
<input type='submit' value='Submit'>
</form>
</div>