body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2{
	text-align: center;
}

.login-form{
	margin: auto;
	width: 30%;
	padding: 5px;
	border: solid grey 3px;
	position: relative;
	text-align: center;
}