body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2{
	text-align: center;
}
.navigate{
	text-align: center;
	background-color: yellow;
	color:black;
}
.big_title{
	margin:0 5px;
	text-align: center;
	color:white;
	border:3px solid grey;
	background-color: black;
}
.login-form{
	margin: auto;
	width: 30%;
	padding: 5px;
	border: solid grey 3px;
	position: relative;
	text-align: center;
}
.problem_panel{
	width:100%;
	margin: auto;
	text-align: center;
}
table, tr, th, td{
	text-align: center;
	margin:auto;
	border:solid 1px black;
}
.problem_add{
	display:none;
	margin: auto;
	text-align: center;
}
.basic{
	text-align: center;
	margin:auto 20px;
	padding:30px;
	border: solid grey 3px;
}
.problem_description{
	position: relative;
	text-align: left;
}
.result{
	text-align: center;
	width:70%;
}
.sample{
	text-align: left;
	margin:auto 0px;
	color:blue;
}
.submission{
	margin:0;
	text-align: center;
	border:solid 3px black;
}
.result{
	margin:0 auto;
}
.notification{
	background-color: blue;
	color:white;
	text-align: center;
	margin:0 auto;
	padding:10px;
}